#card {
    overflow-x: hidden;

    .card-main {
        display: flex;
        justify-content: center;

        .card {
            background-image: url("../assets/images/illustration-sign-up-desktop.svg");
            background-size: 100% 100%;
            background-repeat: no-repeat,
                repeat;
            background-color: white !important;
            background-size: cover;
        }

    }

}

@media screen and (max-width: 680px) {
    #card {
        .card-main {
            display: block;

            .card {
                background-image: url("../assets/images/illustration-sign-up-mobile.svg");
                background-size: 100% 100%;
                background-repeat: no-repeat,
                    repeat;
                background-color: white !important;
                background-size: cover;
                padding: 10rem;
                text-align: center;

            }

        }

    }
}