.dark-slate {
    color: #3b3e59;
}

.charcoal-grey {
    color: #36384e;
}

.grey {
    color: #9294a0;
}

.charcoal-grey-bg {
    background-color: #36384e;
}

.bg-dark-slate {
    background-color: #3b3e59;
}

.bg-white {
    background-color: white;
}

.border-radius {
    border-radius: 2rem;
}